.main 
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  padding: 30px;
}

.main h1
{
  font-size: 10vh; 
  margin: 0 0 2% 0
}

.bright
{
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  padding: 30px;
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.8em white;
}

.bright input{
  text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.8em white;
}

.bright h1{
  font-size: 10vh; 
  margin: 0 0 2% 0
}

.grid
{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 75vh;
  gap: 25px;
}

.column
{
  display: flex;
  flex-direction: column;
  gap:25px;
  width: 35%;
}

.languageContainer 
{
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(255, 255, 255);
  height: 40%;
  animation: right 1s ease;
}

.canvas
{
  height: 100%;
  width: 55%;
}

.bars
{
  border: 3px solid rgb(255, 255, 255);
  height: 40%;
  animation: right 1.5s ease;
  background: repeating-linear-gradient(90deg, #ffffff 0, #ffffff 3%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #ffffff 0, #ffffff 3%, transparent 0, transparent 50%);
        background-size: 2.5em 2.5em;
        background-color: #00000000;
        opacity: 1;
}

.controls
{
  border: 3px solid rgb(255, 255, 255);
  height: 20%;
  display: flex;
  justify-content: center;
  animation: right 2s ease;
}

.scanlines
{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 25%;
  pointer-events: none;
}

.scanner
{
  animation: scanning 2s infinite linear;
  background-color: rgba(133, 133, 133, 0.266); 
  position: fixed;
  top: 0;
  left: 0;
  height: 7%;
  width: 100%;
}

.hidden
{
  display: none;
}

@keyframes right
{
  0%{
      transform: translateX(500px);
      opacity: 0%;
      filter: blur(5px);
  }
  75%{
      transform: translateX(-10px);
  }
  100%{
      transform: translateX(0);
      opacity: 100%;
  }
}

@keyframes scanning
{
  0%{
    transform: translateY(0%);
  }

  100%{
    transform: translateY(100vh);
  }
}

@media only screen and (max-width: 1250px) and (min-width: 760px)
{
  .languageContainer 
  {
    flex-direction: column;
  }
  .canvas
  {
    height: 75%;
    width: 100%;
  }
}

@media only screen and (max-width: 760px)
{
  .grid
  {
      flex-direction: column;
  }
  .column
  {
      width: 100%;
      height: 150%;
  }
  .main h1 
  {
    font-size: 5vh;
    text-align: center;
    margin: 0 0 7% 0;
    height: 12vh;
    text-align: center;
    justify-content: center;
  }
  
  .bright h1 
  {
    font-size: 5vh;
    text-align: center;
    margin: 0 0 7% 0;
  }
  .canvas
  {
    width: 45%;
  }
}