.terminal 
{
    animation: bottom 1s ease;
    width: 65%;
    overflow-Y:auto;
    overflow-X:hidden;
    color: white;
    font-size: 2.5vh;
    border: 2px solid rgb(255, 255, 255);
}

@keyframes bottom
{
    0%{
        transform: translateY(500px);
        opacity: 0%;
        filter: blur(2px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.terminal::-webkit-scrollbar{height: 10px; width: 8px;}
.terminal::-webkit-scrollbar-thumb{background:#878787; border-radius: 50px;}

.history
{
    padding: 15px;
    /* white-space: pre-wrap;
    word-wrap: break-word; */
    width: 100%;
    color: white;
}

.prompt
{
    padding: 0 15px 15px 15px;
}

.promptDown
{
    display: flex;
    flex-direction: row;
}

.prompt svg{width: 2.5vh;}

.prompt input
{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: white;
    /* margin-top: 10px */;
    font-size: 2.5vh;
}

@media only screen and (max-width: 1250px)
{
    .terminal
    {
        font-size: 1.8vw;
    }
    .prompt input
    {
        font-size: 1.8vw;
    }
}

@media only screen and (max-width: 760px)
{
    .terminal
    {
        height: 400%;
        width: 100%;
    }
}