.terminal 
{
    animation: bottom 1s ease;
    width: 65%;
    overflow-Y:auto;
    overflow-X:hidden;
    color: white;
    font-size: 3vh;
    border: 3px solid rgb(255, 255, 255);
}

@keyframes bottom
{
    0%{
        transform: translateY(500px);
        opacity: 0%;
        filter: blur(2px);
    }
    75%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.history
{
    padding: 15px;
    /* white-space: pre-wrap;
    word-wrap: break-word; */
    width: 100%;
    color: white;
}

.prompt
{
    padding: 0 15px 15px 15px;
}

.promptDown
{
    display: flex;
    flex-direction: row;
}

.prompt input
{
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    color: white;
    /* margin-top: 10px */;
    font-size: 3vh;
}

@media only screen and (max-width: 1250px)
{
    .terminal
    {
        font-size: 125%;
    }
    .prompt input
    {
        font-size: 125%;
    }
}

@media only screen and (max-width: 760px)
{
    .terminal
    {
        width: 100%;
        height: 100%;
    }

    .history
    {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
}